<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Emptio</title>
    <link rel="stylesheet" href="../../static/basic.css" />
    <link rel="stylesheet" href="../../static/forms.css" />
</head>
<body>
<main class="page">
    <section class="card">

        <div class="top">
            <div class="logo-head">
                <img class="logo" src="../../static/logo.png" alt="Emptio logo" />
                <p class="brand">Emptio</p>
            </div>
            <h1>Create new product</h1>
            <h2>Provide product specifications</h2>
        </div>

        <!--    TODO : Switch to multipart encoding -->
        <!--        <form action="/merchant/create_product" method="post" enctype="multipart/form-data">-->
        <form action="/merchant/create_product" method="post" enctype="application/x-www-form-urlencoded">
            <fieldset>
                <legend>Product's category</legend>
                <div class="radio-row">
                    <div class="radio">
                        <input type="radio" id="homeCategory" name="productCategory" value="HOME" required />
                        <label for="homeCategory">Home</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="sportCategory" name="productCategory" value="SPORT" required />
                        <label for="sportCategory">Sport</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="clothingCategory" name="productCategory" value="CLOTHING" required />
                        <label for="clothingCategory">Clothing</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="entertainmentCategory" name="productCategory" value="ENTERTAINMENT" required />
                        <label for="entertainmentCategory">Entertainment</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="otherCategory" name="productCategory" value="OTHER" required />
                        <label for="otherCategory">Other</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Product's title and description</legend>
                <div class="field">
                    <label for="title">title:</label>
                    <input type="text" id="title" name="title" required/>
                </div>
                <div class="field">
                    <label for="description">description:</label>
                    <textarea id="description" name="description" required rows="4" cols="100"></textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend>Product's illustration</legend>
                    <div class="field">
                        <label for="illustration">product's illustration in PNG/JPEG format:</label>
                        <input type="file" id="illustration" name="illustration" accept="image/png, image/jpeg"/>
                    </div>
            </fieldset>

            <fieldset>
                <legend>Price</legend>
                <div class="field">
                    <label for="priceValue">value:</label>
                    <input type="number" id="priceValue" name="priceValue" required value="1.00" min="0" step="0.01" />
                </div>
                <div class="grid cols-3">
                    <div class="radio">
                        <input type="radio" id="plnCurrency" name="priceCurrency" value="PLN" required />
                        <label for="plnCurrency">PLN</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="usdCurrency" name="priceCurrency" value="USD" required />
                        <label for="usdCurrency">USD</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="euroCurrency" name="priceCurrency" value="EUR" required />
                        <label for="euroCurrency">EUR</label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Availability of product</legend>
                <div class="field">
                    <label for="countOnMarketplace">count in stock / available on the marketplace:</label>
                    <input type="number" id="countOnMarketplace" name="countOnMarketplace" required value="1" min="1" step="1"/>
                </div>
            </fieldset>
            <div class="actions">
                <input type="submit" value="Create" />
            </div>
        </form>
        <button id="try_again_button" onclick="history.back()">Cancel</button>
    </section>
</main>
</body>
</html>
