<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Emptio</title>
    <link rel="stylesheet" href="../../static/basic.css" />
    <link rel="stylesheet" href="../../static/forms.css" />
</head>
<body>
<main class="page">
    <section class="card">

        <div class="top">
            <div class="logo-head">
                <img class="logo" src="../../static/logo.png" alt="Emptio logo" />
                <p class="brand">Emptio</p>
            </div>
            <h1>Create new product</h1>
            <h2>Provide product specifications</h2>
        </div>

        <form action="/merchant/create_product" method="post" enctype="multipart/form-data">

            <fieldset>
                <legend>Product's illustration</legend>
                    <div class="field">
                        <label for="illustration">product's illustration in PNG/JPEG format:</label>
                        <input type="file" id="illustration" name="illustration" accept="image/png, image/jpeg"/>
                    </div>
            </fieldset>

            <div class="actions">
                <input type="submit" value="Create" />
            </div>
        </form>
        <button id="try_again_button" onclick="history.back()">Cancel</button>
    </section>
</main>
</body>
</html>
